.input-group{
    width: 60%;
}


#search-field{
    padding: 1rem;
    border: 0;
    outline: 0;
    box-shadow: var(--box-shadow-inset);
    background-color: var(--bg-color);
    color: var(--white);
    font-weight: 700;
}

*::-webkit-input-placeholder {
    color: var(--white) !important;
}

#search-btn{
    border: 0;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}
#search-btn:hover{
    box-shadow: var(--box-shadow-inset);
}

@media screen and (max-width: 490px) {
    .input-group{
        width: 90%;
    }
}
